<ng-map center="[37.553, -77.462]" default-style="false" zoom="14" on-click="placeMarker(event)" styles="[{stylers:[{hue:'#257849'},{visibility:'simplified'},{gamma:0.5},{weight:0.5}]},{elementType:'labels',stylers:[]},{featureType:'water',stylers:[{color:'#039BB0'}]}]">
    <marker ng-repeat="mark in filteredMarkers" title="{{mark.name}}" position="{{mark.latitude}}, {{mark.longitude}}" scaledSize="[70, 70]" icon="/img/icons/{{mark.marker_type}}.svg" on-click="showInfo(event, {{mark}})"></marker>
</ng-map>

<div class=form-container>
    <form name="newMarkerForm">
      Name:<input name="name" ng-model="newMarker.name">
      Type:<input name="type" ng-model="newMarker.type">
      Address:<input name="address" ng-model="newMarker.address">
      Image URL:<input name="imgUrl" ng-model="newMarker.img">
    </form>

</div>
